PORT=3000
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/weather-alert-service
REDIS_URL=redis://localhost:6379
WEATHERAI_BASE_URL=https://api.weather-ai.co
WEATHERAI_API_KEY=wai_live_eb8e501fa47f437dc3825a64ee97a228
POLL_CRON_SCHEDULE=*/5 * * * *
WEBHOOK_TIMEOUT_MS=5000
API_BASE_URL=http://localhost:3000
